options {
    directory "/var/named";

    listen-on {
{% for address in listen_on %}
        {{ address }};
{% endfor %}
    };

    allow-recursion {
{% for address in allow_recursion %}
        {{ address }};
{% endfor %}
    };

    forwarders { 
{% for address in forwarders %}
        {{ address }};
{% endfor %}
    };
    forward only;
};

logging {
    category lame-servers { null; };
    channel default_debug {
        file "data/named.run";
        severity dynamic;
    };
};

zone "." IN {
    type hint;
    file "named.root";
};

{% for zone in zones %}
zone "{{ zone }}" { 
{% if bind_role == 'master' %}
    type master;
    file "masters/{{ zone }}.db";
    notify-source {{ notify_source }};
    notify explicit;
{% if slaves is defined %}
    also-notify {
{% for address in slaves %}
        {{ address }};
{% endfor %}
    };
{% endif %}
{% elif bind_role == 'slave' %}
    type slave;
    file "slaves/{{ zone }}.db";
    masters {
        {{ master }};
    };
{% endif %}
};

{% endfor %}
